@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Loans of the book</h1>
    <p>Books teach us to travel without leaving the place.</p>
    <div>
        <img src="img/book.png" />
    </div>
</div>
