@model IEnumerable<EmprestimosModel>

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1> Loans </h1>
        <a class="btn btn-success mx-2" asp-controller="Loan" asp-action="Register"> Register new loan</a>
    </div>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">Receiver</th>
            <th scope="col">Supplier</th>
            <th scope="col">Book</th>
            <th scope="col">Last update</th>
        </tr>
    </thead>
    <tbody>

        @if(Model != null)
        {

            foreach(var emprestimo in Model )
            {
                <tr>
                    <th scope="row">@emprestimo.Recebedor</th>
                    <td>@emprestimo.Fornecedor</td>
                    <td>@emprestimo.LivroEmprestado</td>
                    <td>@emprestimo.dataUltimaAtualizacao</td>
                </tr>
            }
        }



    </tbody>
</table>

</div>
